<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2">
            <app-sidebar-admin></app-sidebar-admin>
        </div>

        <!-- Nội dung chính -->
        <div class="col-md-10">
            <app-header></app-header>

            <!-- Nội dung quản lý bác sĩ -->
            <div class="doctor-management container mt-5 mb-5">

                <!-- Form thêm hoặc chỉnh sửa bác sĩ -->
                <form (ngSubmit)="isEditMode ? updateDoctor() : addDoctor()" class="doctor-form shadow p-4 mb-5 bg-white rounded">
                    <div class="row">
                        <h2 class="text-center">Quản lý Bác Sĩ</h2>
                        <div class="col-md-6 mb-3">
                            <label for="name" class="form-label">Họ và tên</label>
                            <input type="text" class="form-control" id="name" [(ngModel)]="newDoctor.name" name="name" placeholder="Nhập họ và tên" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" [(ngModel)]="newDoctor.email" name="email" placeholder="Nhập email" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="phoneNumber" class="form-label">Số điện thoại</label>
                            <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="newDoctor.phoneNumber" name="phoneNumber" placeholder="Nhập số điện thoại" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="specialty" class="form-label">Chuyên khoa</label>
                            <select class="form-control" id="specialty" [(ngModel)]="newDoctor.specialtyId" name="specialty" required>
                                <option *ngFor="let specialty of specialties" [value]="specialty.id">{{ specialty.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="password" class="form-label">Mật khẩu cho bác sĩ</label>
                            <input type="text" class="form-control" id="password" [(ngModel)]="newDoctor.password" name="password" [disabled]="isEditMode" placeholder="Nhập mật khẩu" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="gender" class="form-label">Giới tính</label>
                            <select class="form-control" id="gender" [(ngModel)]="newDoctor.gender" name="gender" required>
                                <option [value]="true">Nam</option>
                                <option [value]="false">Nữ</option>
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">{{ isEditMode ? 'Cập nhật' : 'Thêm bác sĩ' }}</button>
                </form>

                <!-- Danh sách bác sĩ -->
                <table class="table table-striped shadow-sm">
                    <thead class="table-header">
                        <tr>
                            <th>#</th>
                            <th>Họ và tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>Chuyên khoa</th>
                            <th>Giới tính</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let doctor of paginatedDoctors; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ doctor.name }}</td>
                            <td>{{ doctor.email }}</td>
                            <td>{{ doctor.phoneNumber }}</td>
                            <td>{{ getSpecialtyName(doctor.specialtyId) }}</td>
                            <td>{{ doctor.gender ? 'Nam' : 'Nữ' }}</td>
                            <td>
                                <button style="width: 70px; height: 40px;" class="btn btn-warning btn-sm me-2" (click)="editDoctor(doctor)">Sửa</button>
                                <button style="width: 70px; height: 40px;" class="btn btn-danger btn-sm" (click)="deleteDoctor(doctor.id)">Xóa</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="display: flex; justify-content: center;">
                    <button style="border: none;background: none;" (click)="previousPage()" [disabled]="currentPage === 1">
                      <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </button>
                    <span>Trang {{ currentPage }}</span>
                    <button style="border: none;background: none;" (click)="nextPage()" [disabled]="currentPage === totalPages()">
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </button>
                  </div>
            </div>

            <app-footer></app-footer>
        </div>
    </div>
</div>
