<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2">
            <app-sidebar-admin></app-sidebar-admin>
        </div>

        <!-- Nội dung chính -->
        <div class="col-md-10">
            <app-header></app-header>

            <!-- Nội dung quản lý người dùng -->
            <div class="user-management container mt-5 mb-5">

                <!-- Form thêm hoặc chỉnh sửa người dùng -->
                <form (ngSubmit)="isEditMode ? updateUser() : addUser()" class="doctor-form shadow p-4 mb-5 bg-white rounded">
                    <div class="row">
                        <h2 class="text-center">Quản lý Người Dùng</h2>

                        <!-- Tìm kiếm người dùng -->
                        <div class="col-md-6 mb-3">
                            <label for="userSearch" class="form-label">Tìm kiếm người dùng theo ID</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                placeholder="Nhập ID người dùng..." 
                                [(ngModel)]="searchQuery" 
                                name="searchQuery"
                            />
                        </div>
                        
                        <!-- Nút tìm kiếm -->
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Tìm kiếm</label>
                            <button 
                                class="btn btn-primary w-100" 
                                (click)="searchUserById()">
                                Tìm kiếm
                            </button>
                        </div>
                    </div>

                    <!-- Thêm hoặc chỉnh sửa thông tin người dùng -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="userName" class="form-label">Họ và tên</label>
                            <input type="text" class="form-control" id="userName" [(ngModel)]="newUser.userName" name="userName" placeholder="Nhập họ và tên" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="role" class="form-label">Vai trò</label>
                            <select class="form-select" id="role" [(ngModel)]="newUser.role.id" name="role" required>
                                <option [value]="1">PATIENT</option>
                                <option [value]="2">DOCTOR</option>
                                <option [value]="3">ADMIN</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="phoneNumber" class="form-label">Số điện thoại</label>
                            <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="newUser.phoneNumber" name="phoneNumber" placeholder="Nhập số điện thoại" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" [(ngModel)]="newUser.email" name="email" placeholder="Nhập email" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="gender" class="form-label">Giới tính</label>
                            <select class="form-control" id="gender" [(ngModel)]="newUser.gender" name="gender" required>
                                <option [value]="true">Nam</option>
                                <option [value]="false">Nữ</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="address" class="form-label">Địa chỉ</label>
                            <input type="text" class="form-control" id="address" [(ngModel)]="newUser.address" name="address" placeholder="Nhập địa chỉ" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1212 mb-3">
                            <label for="password" class="form-label">Mật khẩu</label>
                            <input type="password" class="form-control" id="password" [(ngModel)]="newUser.password" name="password" placeholder="Nhập mật khẩu người dùng" >
                        </div>  
                    </div>
                    <button type="submit" class="btn btn-primary w-100">{{ isEditMode ? 'Cập nhật' : 'Thêm người dùng' }}</button>
                </form>

                <!-- Danh sách người dùng -->
                <table class="table table-striped shadow-sm">
                    <thead class="table-header">
                        <tr>
                            <th>#</th>
                            <th>STT</th>
                            <th>Họ và tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Giới tính</th>
                            <th>Vai trò</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of paginatedUsers; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ user.id }}</td>
                            <td>{{ user.userName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phoneNumber }}</td>
                            <td>{{ user.address }}</td>
                            <td>{{ user.gender ? 'Nam' : 'Nữ' }}</td>
                            <td>{{ user.role.roleName }}</td>
                            <td>
                                <button style="width: 70px; height: 40px;" class="btn btn-warning btn-sm me-2" (click)="editUser(user)">Sửa</button>
                                <button style="width: 70px; height: 40px;" class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">Xóa</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="display: flex; justify-content: center;">
                    <button style="border: none; background: none;" (click)="previousPage()" [disabled]="currentPage === 1">
                      <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </button>
                    <span>Trang {{ currentPage }}</span>
                    <button style="border: none; background: none;" (click)="nextPage()" [disabled]="currentPage === totalPages()">
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </button>
                  </div>
            </div>
            
            <app-footer></app-footer>
        </div>
    </div>
</div>