<!-- <div class="container">
    <div class="row">
      <div class="col-md-3">
        <button (click)="loadStatisticsByStatus()" class="btn btn-primary btn-block">Thống kê theo trạng thái</button>
      </div>
      <div class="col-md-3">
        <button (click)="loadStatisticsByDay()" class="btn btn-success btn-block">Thống kê theo ngày</button>
      </div>
      <div class="col-md-3">
        <button (click)="loadStatisticsByMonth()" class="btn btn-warning btn-block">Thống kê theo tháng</button>
      </div>
      <div class="col-md-3">
        <button (click)="loadStatisticsByYear()" class="btn btn-info btn-block">Thống kê theo năm</button>
      </div>
    </div>
  
    <div class="row mt-4">
      <div class="col-md-12">
        <div *ngIf="barChartLabels.length > 0">
          <canvas baseChart
                  [datasets]="barChartData.datasets"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [chartType]="barChartType">
          </canvas>
        </div>
        <div *ngIf="barChartLabels.length === 0" class="alert alert-info">
          Vui lòng chọn một tùy chọn thống kê để xem dữ liệu.
        </div>
      </div>
    </div>
  </div>
   -->