.container-fluid {
  background: linear-gradient(135deg, #a8e3eb, #f6f7d7, #cc530d); /* Thêm 3 màu gradient */
  /* Có thể thay đổi góc và các mã màu tùy thích */
}
.card {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.statistic-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.statistic-summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.statistic-item {
  text-align: center;
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.statistic-item h2 {
  font-size: 18px;
  color: #333;
}

.statistic-item p {
  font-size: 24px;
  font-weight: bold;
}

.doctor-statistics-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.doctor-statistics-table th, .doctor-statistics-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.doctor-statistics-table th {
  background-color: #f4f4f4;
}
